[submodule "services/dv-merchant"]
	path = services/dv-merchant
	url = https://github.com/dv-net/dv-merchant.git
[submodule "services/dv-processing"]
	path = services/dv-processing
	url = https://github.com/dv-net/dv-processing.git
